<div class="container p-2" *ngIf="visibilidadeTabela">
    <div class="border border-light rounded p-5">
        <app-navegacao></app-navegacao>

    </div>
    <hr>
    <div class="selecao">
        <button type="button" class="btn btn-sm btn-primary" (click)="ExibirFormularioCadastro()">Cadastrar
            Entrega</button>
        <form class="mesSelect">
            <select class="form-control form-control-sm" id="mesSelecionado" [(ngModel)]="mesEscolhido"
                name="mesSelecionado">
                <option value="Todos">Todos</option>
                <option class="mes" *ngFor="let mes of meses" [value]="mes.mesAno">{{mes.mesAno}}</option>
            </select>
        </form>
    </div>
    <hr>
    <table class="table table-striped table-hover table-sm" *ngIf="contagens">
        <thead class="table-light">
            <tr class="thead-dark table-title">
                <th>Número do Card</th>
                <th>Entregue</th>
                <th>Validado</th>
                <th>Número da entrega</th>
                <th>Pontos de Função</th>
                <th>Sistema</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr class="linha" *ngFor="let item of contagens">
                <ng-container *ngIf="mesEscolhido ==='Todos'|| item.mes === mesEscolhido ">
                    <td>{{item.numCard}}</td>
                    <td>
                        <span *ngIf="item.entregue">
                            <img src="/assets/images/checked.png" alt="Entregue">
                        </span>
                    </td>
                    <td>
                        <span *ngIf="item.validado">
                            <img src="/assets/images/checked.png" alt="Validado">
                        </span>
                    </td>
                    <td>
                        <a class="link" target=”_blank” href="{{item.link}}">{{item.numContagem}}</a>
                    </td>
                    <td>{{item.pontosDeFuncao}}</td>
                    <td>{{item.sistema}}</td>
                    <td class="row-actions">
                        <button type="button" class="btn btn-sm btn-outline-primary" (click)="Entregar(item)">
                            <span *ngIf="item.entregue"> Devolver </span>
                            <span *ngIf="!item.entregue"> Entregar </span>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-success" (click)="Validar(item)">
                            <span *ngIf="item.validado"> Invalidar </span>
                            <span *ngIf="!item.validado"> Validar </span>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"
                            (click)="ExibirFormularioAtualizacao(item.idContagem)">Alterar</button>
                        <button type="button" class="btn btn-sm btn-outline-danger"
                            (click)="ExibirConfirmacaoExclusao(item.idContagem , item.numContagem , conteudoModal)">Excluir</button>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>
<div class="container p-5" *ngIf="visibilidadeFormulario">
    <div class="row">
        <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
            <h6>{{tituloFormulario}}</h6>
            <hr>
            <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
                <div class="form-group">
                    <label>Numero do Card</label>
                    <input type="number" placeholder="0" class="form-control form-control-sm" formControlName="numCard">
                </div>
                <div class="form-group">
                    <label>Numero da Entrega</label>
                    <input type="text" placeholder="Digite o número do RTC" class="form-control form-control-sm"
                        formControlName="numContagem">
                </div>
                <div class="form-group">
                    <label>Link</label>
                    <input type="url" placeholder="Digite o link do RTC" class="form-control form-control-sm"
                        formControlName="link">
                </div>
                <div class="form-group">
                    <label>Pontos de Função</label>
                    <input type="number" placeholder="0" class="form-control form-control-sm"
                        formControlName="pontosDeFuncao">
                </div>
                <div class="form-group">
                    <label>Digite o Sistema da entrega</label>:
                    <select id="mesSelecionado" [(ngModel)]="sistemaEscolhido" name="sistemaSelecionado"
                        formControlName="sistema">
                        <option value="S627">S627</option>
                        <option value="S033">S033</option>
                        <option value="S079">S079</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Mês</label>:
                    <select id="mesSelecionado" [(ngModel)]="mesEscolhido" name="mesSelecionado" formControlName="mes">
                        <option class="mes" *ngFor="let mes of meses" [value]="mes.mesAno">{{mes.mesAno}}</option>
                    </select>

                </div>
                <div class="container">
                    <div class="botoes">
                        <div>
                            <button type="submit" class="btn btn-sm btn-outline-primary">Salvar</button>
                        </div>
                        <div class="pl-1">
                            <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">Voltar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container p-5" *ngIf="visibilidadeFormularioAtualizar">
    <div class="row">
        <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
            <h6>{{tituloFormulario}}</h6>
            <hr>
            <form [formGroup]="formulario" (ngSubmit)="EnviarFormularioAtualizar()">
                <div class="form-group">
                    <label>Numero do Card</label>
                    <input type="number" placeholder="0" class="form-control form-control-sm" formControlName="numCard">
                </div>
                <div class="form-group">
                    <label>Numero da Entrega</label>
                    <input type="text" placeholder="Digite o número do RTC" class="form-control form-control-sm"
                        formControlName="numContagem">
                </div>
                <div class="form-group">
                    <label>Link</label>
                    <input type="url" placeholder="Digite o link do RTC" class="form-control form-control-sm"
                        formControlName="link">
                </div>
                <div class="form-group">
                    <label>Pontos de Função</label>
                    <input type="number" placeholder="0" class="form-control form-control-sm"
                        formControlName="pontosDeFuncao">
                </div>
                <div class="form-group">
                    <label>Digite o Sistema da Entrega</label>:
                    <select id="mesSelecionado" [(ngModel)]="sistemaEscolhido" name="sistemaSelecionado"
                        formControlName="sistema">
                        <option value="S627">S627</option>
                        <option value="S033">S033</option>
                        <option value="S079">S079</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Mês</label>:
                    <select id="mesSelecionado" [(ngModel)]="mesEscolhido" name="mesSelecionado" formControlName="mes">
                        <option class="mes" *ngFor="let mes of meses" [value]="mes.mesAno">{{mes.mesAno}}</option>
                    </select>
                </div>
                <div class="container">
                    <div class="botoes">
                        <div>
                            <button type="submit" class="btn btn-sm btn-outline-primary">Salvar</button>
                        </div>
                        <div class="pl-1">
                            <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">Voltar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #conteudoModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmação de exclusão</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Prosseguir com a exclusão da entrega {{numContagem}}?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef?.hide()">Não</button>
        <button type="button" class="btn btn-outline-danger" (click)="ExcluirBanco(idContagem)">Sim</button>
    </div>
</ng-template>