<div class="links">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="">ENTREGAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="meses">MESES</a>
    </li>
  </ul>
</div>
<div class="navigation">
  <h1 class="display-1">ENTREGAS - TIME 53<br>S033 - S079 - S627</h1>
  <div class="logo">
    <a href="https://contagemapi.onrender.com/swagger/index.html" target="_blank">
      <img class="imagem" src="https://ismaelbcbnb.github.io/contagemPF/assets/images/swagger.png" alt="logo_swagger">
    </a>
  </div>
</div>